<div class="containerInfo">
  <div class="container" style="margin-top: 8%;">
    <div class="row">
      <div class="col-10">
        <h2 class="text">Personas</h2>
        <form action="/personas/new-persona" method="POST" class="needs-validation">
          <div class="form-row" style="margin-top: 5%;">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">DNI</label>
              <input name="dni" type="number" class="form-control" id="validationCustom01">
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02">Nombre</label>
              <input name="nombre" type="text" class="form-control" id="validationCustom02">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationCustomUsername">Direccion</label>
              <div class="input-group">
                <input name="direccion" type="text" class="form-control" id="validationCustomUsername"
                  aria-describedby="inputGroupPrepend">
              </div>
            </div>
          </div>
          <h4>Socio</h4>
          <div class="form-row" style="margin-top: 5%;">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" name="socio" type="radio"
                    value="yes">Si</label>
              </div>
              <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" name="socio" type="radio"
                    value="no">No</label>
              </div>
            </div>
          </div>

           <h4>Patrón</h4>
          <div class="form-row" style="margin-top: 5%;">
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" name="socio" type="radio"
                    value="yes">Si</label>
              </div>
              <div class="form-check">
                <label class="form-check-label"><input class="form-check-input" name="socio" type="radio"
                    value="no">No</label>
              </div>
            </div>
          </div>
          

          <h4>Barco</h4>
          <div class="form-row" style="margin-top: 5%;">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">Matricula</label>
              <input name="matricula" type="number" class="form-control" id="validationCustom01">
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">Nombre</label>
              <input name="nombre" type="text" class="form-control" id="validationCustom01">
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">Amarre</label>
              <input name="amarre" type="text" class="form-control" id="validationCustom01">
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">Cuota</label>
              <input name="cuota" type="text  " class="form-control" id="validationCustom01">
            </div>
          </div>

          
        </form>

        <table class="table" style="margin-top: 10%;">
          <thead class="thead-light">
            <tr>
              <th scope="col">Dni</th>
              <th scope="col">Nombre</th>
              <th scope="col">Direccion</th>
            </tr>
          </thead>
          <tbody>
            {{#each personas}}
            <tr>
              <td>{{ this.dni }}</td>
              <td>{{ this.nombre }}</td>
              <td>{{ this.direccion }}</td>
            </tr>
            {{else}}
          </tbody>
        </table>
        <div class="row">
          <div class="card mx-auto">
            <div class="card-body">
              <h1>Hola </h1>
              <p clsss="lead">Aún no hay personas creadas</p>
              <a class="btn btn-success btn-block">Crea Una!</a>
            </div>
          </div>
          {{/each}}
        </div>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict';
            window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
        <script>
            var socio = document.getElementsByName('socio');

            for (var i = 0, length = socio.length; i < length; i++) {
              if (socio[i].checked) {
                // do whatever you want with the checked radio
                console.log(socio[i].value);
                alert(socio[i].value);

                // only one radio can be logically checked, don't check the rest
                break;
              }
            }
          </script>
      </div>
    </div>
  </div>
</div>
</div>